* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0px;
  font-size: 14px;
}

.clearfix{
  display: table;
  content: "";
  clear: both;
}

.all {
  height: 100vh;
  width: 100%;
}

.functions{
  position: fixed;
  float: left;
  height: calc(100% - 90px);
  overflow-y: auto ;
}

/* Start navbar */
.navbar {
  width: 230px;
  background-color: black;
  padding: 0px;
}

#logo .spotify-logo--text {
  width: 131px;
  height: 40px;
  margin: 24px 0px 18px 24px;
}

.list ul li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 24px;
}

.list ul li:first-child {
  padding-left: 20px;
  border-left: 4px solid #1ed760;
}

.list ul li a {
  text-decoration: none;
  color: #b3b3b3;
  display: flex;
  align-items: center;
}

.list ul li a:hover {
  color: white;
}

.list ul li:first-child a {
  color: white;
}

.list ul li a p {
  margin-left: 16px;
  font-weight: bold;
}

.playlist {
  margin-top: 24px;
  margin-left: 24px;
}

.text-white {
  color:white;
}

.playlist a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: gray;
  padding-top: 18px;
  padding-left: 3px;
}

.playlist a:hover{
  color: white;
}

.playlist a:hover svg{
  background-color: white;
}

.playlist a svg {
  width: 32px;
  padding:4px;
  margin-right: 16px;
  background-color: hsla(0,0%,100%,.3);
}

.playlist ul {
  margin-top: 25px;
}

.playlist ul li {
  list-style-type: none;
  cursor: pointer;
  color:grey;
  padding-left:3px;
  margin-top: 12px;
}

.playlist ul li:hover {
  color:white;
}

.footer-navbar {
  margin-left: 28px;
  margin-right: 20px;
}

.installa-app {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.installa-app:hover {
  color:white
}

.installa-app svg {
  width: 20px;
}

.installa-app p {
  margin-left: 16px;
}

.user{
  margin-top: 10px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

#img-user{
  background-image: url(../img/user.jpg);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-size: contain;
}

.user p {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

/* Start main */
.main {
  right: 0;
  width: calc(100% - 230px);
  background-image: linear-gradient(to right bottom, rgb(67, 66, 87), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

/* Start footer */
footer {
  background-color: #282828;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer-padd{
  padding-right: 16px;
  padding-left: 16px;
}

footer [class*="flex-footer"]{
  display: flex;
  align-items: center;
}


#img-music-foot{
  background-image: url(../img/music-footer-img.jpg);
  width: 56px;
  height: 56px;
  background-size: contain;
  margin-right: 10px;
  box-shadow:  1px  1px 2px grey,
  -1px -1px 2px grey,
   1px -1px 2px grey,
  -1px  1px 2px grey;
}

.height{
  height: 100%;;
}

.flex-footer1 p:hover{
  text-decoration: underline;
  cursor: pointer;
}

#text-grey{
  color: grey;
}

#text-grey:hover {
  color:white;
}

.flex-footer1 a img{
  height: 20px;
  color: grey;
  width: 16.22px;
  margin-left: 20px;
  filter:invert(1) opacity(0.6);
}

.flex-footer1 a img:hover {
  filter:invert(1) opacity(1);
}

.flex-footer2{
 flex-direction: column;
}

.bottom-flex,
.top-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

.top-flex{
  max-width: 70%;
  margin-top: 10px;;
}

.icon-width {
  width: 16px;
  height: 20px;
}

.top-flex > div {
  filter:invert(1) opacity(0.6);
  cursor: pointer;
}

.top-flex > div:hover {
  filter:invert(1) opacity(1);
}

.play{
  width:32px;
  height: 32px;
}
