* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 2000px;
}

p {
  margin-bottom: 0px;
  font-size: 14px;
}

.clearfix{
  display: table;
  content: "";
  clear: both;
}

.all {
  height: 100vh;
  width: 100%;
}

.functions{
  position: fixed;
  float: left;
  height: calc(100% - 90px);
  overflow-y: auto ;
}

/* Start navbar */
.navbar {
  width: 230px;
  background-color: black;
  padding: 0px;
}

#logo1 {
 width: 40px;
 margin: 24px 0px 18px 24px;
 display: none;
}

#logo .spotify-logo--text {
  width: 131px;
  margin: 24px 0px 18px 24px;
}

.list ul li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 24px;
}

.list ul li:first-child {
  padding-left: 20px;
  border-left: 4px solid #1ed760;
}

.list ul li a {
  text-decoration: none;
  color: #b3b3b3;
  display: flex;
  align-items: center;
}

.list ul li a:hover {
  color: white;
}

.list ul li:first-child a {
  color: white;
}

.list ul li a p {
  margin-left: 16px;
  font-weight: bold;
}

.playlist {
  margin-top: 24px;
  margin-left: 24px;
}

.text-white {
  color:white;
}

.playlist a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: gray;
  padding-top: 18px;
  padding-left: 3px;
}

.playlist a:hover{
  color: white;
}

.playlist a:hover svg{
  background-color: white;
}

.playlist a svg {
  width: 32px;
  padding:4px;
  margin-right: 16px;
  background-color: hsla(0,0%,100%,.3);
}

.playlist ul {
  margin-top: 25px;
}

.playlist ul li {
  list-style-type: none;
  cursor: pointer;
  color:grey;
  padding-left:3px;
  margin-top: 12px;
}

.playlist ul li:hover {
  color:white;
}

.footer-navbar {
  margin-left: 28px;
  margin-right: 20px;
}

.installa-app {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.installa-app:hover {
  color:white
}

.installa-app svg {
  width: 20px;
}

.installa-app p {
  margin-left: 16px;
}

.user{
  margin-top: 10px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

#img-user{
  background-image: url(../img/user.jpg);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-size: contain;
}

.user p {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

/* Start main */
.main {
  right: 0;
  width: calc(100% - 230px);
  background-image: linear-gradient(to right bottom, rgb(67, 66, 87), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main > .container-fluid {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 20px;
}

.first-text {
  margin: 38px;
}

.first-text > div{
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
}

.first-text > div > a {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 13px;
}

.first-text > div:first-child a {
  color:white;
}

.first-text > div > a:hover {
  color: white;
}

.first-text > div:first-child {
  flex-direction: column;
  align-items: center;
}

.bar-text{
  height: 2px;
  width: 18%;
  background-color: green;
  border-radius: 5px;
}


.title-section .item-flex-h1 {
 display: flex;
 align-items: flex-start;
}

.item-flex-h1{
  display: flex;
  flex-direction: column;
}

.item-flex-h1 h1{
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.underline{
  visibility: hidden;
  margin-top: 5px;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.item-flex-h1 h1:hover .underline{
  visibility: visible;
}

.item-flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-flex p {
 color: #b3b3b3;
 transition: all 1s ease;
}

.item-flex p:hover {
  color: white;
  cursor: pointer;
  font-size: 1.1em;
}

.jump{
  margin-top: 50px;
}

.row-album{
  margin-bottom: 50px;
}

.album_col{
  margin-top: 20px;
  margin-bottom: 30px;
}

.container-all p {
  color:white;
  font-weight: bold;
  margin-top: 10px;
}

.container-all {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-album{
  max-width: 100%;
}

.cover-opacity{
  position: relative;
}

.cover-opacity svg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 30%;
  opacity: 0.6;
}

.cover-opacity svg {
  transition: display .2s ease;
  transition: max-width .4s ease;
} 

.cover-opacity img {
  transition: filter .2s ease;
} 

.container-all:hover svg {
  display: block;
}

.container-all:hover img{
  filter: brightness(.3);
}

.container-all svg:hover{
  opacity: 1;
  max-width: 32%;
}

.circle-img img{
  border-radius: 50%;
}

/* Start footer */
footer {
  background-color: #282828;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer-padd{
  padding-right: 16px;
  padding-left: 16px;
}

footer [class*="flex-footer"]{
  display: flex;
  align-items: center;
}


#img-music-foot{
  background-image: url(../img/music-footer-img.jpg);
  width: 56px;
  height: 56px;
  background-size: cover;
  margin-right: 10px;
  box-shadow:  1px  1px 2px grey,
  -1px -1px 2px grey,
   1px -1px 2px grey,
  -1px  1px 2px grey;
}

.height{
  height: 100%;;
}

.flex-footer1 p:hover{
  text-decoration: underline;
  cursor: pointer;
}

#text-grey{
  color: grey;
}

#text-grey:hover {
  color:white;
}

.flex-footer1 a img{
  height: 20px;
  color: grey;
  width: 16.22px;
  margin-left: 20px;
  filter:invert(1) opacity(0.6);
}

.flex-footer1 a img:hover {
  filter:invert(1) opacity(1);
}

.flex-footer2{
 flex-direction: column;
}

.bottom-flex,
.top-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.top-flex{
  max-width: 45%;
  margin-top: 7px;
  justify-content: space-around;
}

.icon-width {
  width: 14px;
}

.top-flex > div,
.flex-footer3 svg {
  filter:invert(1) opacity(0.6);
  cursor: pointer;
}

.top-flex > div:hover,
.flex-footer3 svg:hover  {
  filter:invert(1) opacity(1);
}

.play{
  height: 30px;
  width: 30px;
}

.play svg {
  width: 30px;
  transition: width .4s ease;
}

.play svg:hover {
  width: 35px;
} 

.bottom-flex p{
  color: #b3b3b3;
  font-size: 11px;
}

.bottom-flex > * {
  position: relative;
  bottom: 3px;
}

.first-bar {
  background-color: #404040;
  border-radius: 2px;
  height: 4px;
  width: 68.5%;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.progress-bar {
  width: 35%;
  height: 4px;
  border-radius: 2px;
  background-color: #b3b3b3;
}

.first-bar:hover .progress-bar {
  background-color: #1ed760;
}

.circle {
  display: none;
}

.first-bar:hover .circle {
  display: block;
  height: 6px;
  width: 6px;
  padding:5px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  bottom: 3px;
  right: 2px;
}

.flex-footer3 > * {
  margin-left: 15px;
}

.flex-footer3 {
  justify-content: flex-end;
}

.flex-footer3 svg{
 width: 18px;
}

.flex-footer3 svg:first-child {
  width: 14px;;
}

.second-bar {
  width: 25%;
  margin-right: 0px;
  margin-left: 5px;
}

.bonus {
  position: absolute;
  height: 80vh;
  background-color: red;
  top:0;
  left: 0;
  transform: translate(-50%,-50%);
}


/* Media query */

@media screen and (min-width: 420px) and (max-width:700px){

  .row > .height{
   max-width: 25%;
   padding-left: 0px;
   padding-right: 0px;
 }

 .row > .height:nth-of-type(2){
   max-width: 50%;
 }
 
 .top-flex {
   max-width: 85%;
 }
 
 #img-music-foot {
   display: none;
 }

 .flex-footer1 a img {
   margin-left:10px;
 }
 
 .flex-footer3 {
  flex-direction: column;
  justify-content: space-around;
 }
 
 .second-bar{
   width: 40%;
   margin-left: 15px;
 }

}

@media screen and (max-width:575px) {
  .first-text{
   margin:30px;
 }
 .navbar{
   width: 175px;
 }
 .main{
   width: calc(100% - 175px);
 }
 .navbar.functions #logo {
   display: none;
 }
 
 .navbar.functions #logo1 {
   display: block;
 }
 
 .title-section .col-xs-8{
   width: 70%;
 }

 .title-section .col-xs-4{
  width: 30%;
 }

 .title-section .col-xs-8 h1{
  font-size: 1.5em;
 }

}